
@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #header #logo {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #header #splash {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  #secondarycontent {
    width: 0%;
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  primarycontent {
    width: 100%;
    margin: 0;
  }
}
