#menu{
    display: flex; 
    height: alto; 
    margin-bottom: 10px;
    background-color: #53C7FD;
    
}
#container .principal {
    float: left;
    color: #fff;
    border-right: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
    
}
#container a:hover{
    color: #fff;
    font-size: larger;
    font-weight: bold;
    background-color: #E5017D
    ;
    

}
#container a.last{
    border-right: 0px;

}
@media screen and (max-width:700px){
#container, #container .principal{
    width: 100%;
    border-right: 0px;
}
}
