#menu {
  height: auto;
  margin-top: 20px;
  background-color: #53c7fd;
  overflow: hidden;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px 10px 0 0;
}
#container .principal {
  float: left;
  color: #fff;
  border-right: 1px solid #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px 10px 25px;
}
#container a:hover {
  color: #fff;
  font-size: larger;
  font-weight: bold;
  background-color: #e5017d;
}
#container a.last {
  border-right: 0px;
}

nav .links {
  float: left;

  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;

}

.subnav .sub-btn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #53c7fd;
  margin: 0;
 
}

nav .links:hover,
.subnav:hover .sub-btn {
  background-color: #e5017d;
  color: fff;
  font-weight: bolder;
}

.sub-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #53c7fd;
  width: 100%;
  z-index: 1;
  margin-right: 10px;
  margin-left: 20px;
}

.sub-content a {
  float: left;

  text-decoration: none;
}

.sub-content a:hover {
  background-color: #e5017d;
  color: fff;
}

.subnav:hover .sub-content {
  display: block;
}

@media screen and (max-width: 100px){
  #container, #container .principal{
      width: 100%;
      border-right: 0px;
      background-color: #488000;
      color: white;
     
  
  }
}
